{% extends "core/main.html" %}
{% block section_title %}Gestión de Recargas de Matafuegos{% endblock %}
{% block content %}

    <div class="container mt-5">
        
        
        <div class="card mt-4">
            <div class="card-header">
                Agregar Nueva Recarga
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="fecha_recarga">Fecha de Recarga</label>
                        <input type="date" class="form-control" id="fecha_recarga">
                    </div>
                    <div class="form-group">
                        <label for="fecha_vencimiento">Fecha de Vencimiento</label>
                        <input type="date" class="form-control" id="fecha_vencimiento">
                    </div>
                
                    <button type="submit" class="btn btn-primary">Guardar Recarga</button>
                </form>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                Recargas Existentes
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha de Recarga</th>
                            <th>Fecha de Vencimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for recarga in recargas %}
                            <tr>
                                <td>{{ recarga.fecha_recarga }}</td>
                                <td>{{ recarga.fecha_vencimiento }}</td>
                             
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
{% endblock %}


