{% extends "core/base.html" %}

{% block section_title %}
    Detalle Orden
{% endblock %}

{% block content %}
<div class="container mt-5">
    
    
    <p>Número de Orden de Pedido: {{ orden_pedido.id_pedido }}</p>
    <p>Cliente ID: {{ orden_pedido.cliente_id }}</p>
    <p>Email: {{ orden_pedido.email }}</p>
    <p>Fecha de Recarga: {{ orden_pedido.fecha_recarga }}</p>
    <p>Fecha de Vencimiento: {{ orden_pedido.fecha_vencimiento }}</p>
    <p>Cantidad de Matafuegos: {{ orden_pedido.cantidad_matafuegos }}</p>
    <p>Tipo de Matafuego: {{ orden_pedido.tipo_matafuego }}</p>
</div>
{% endblock %}
